[Unit]
Description=UPS_Lite
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/UPS_Lite.py

[Install]
WantedBy=multi-user.target